@tailwind base;
@tailwind components;
@tailwind utilities;

/* class="min-h-screen bg-slate-50 dark:bg-black dark:text-white" */

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply bg-slate-100;
  @apply text-slate-900;
}
